.about-us {
    padding: 4rem 4rem;
    position:relative;
    height:65rem;
    background-color: $primary-color;
    text-align: center;
    background-size: cover;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
    // background-image: linear-gradient(to top, rgba(rgb(29, 27, 19), 0.8),
    // rgba(rgba(0, 0, 0, 0), 0.8));
   //  background-size: cover;
   //  background-position: left;
 //   -webkit-clip-path: polygon(0 17%, 100% 0%, 100% 67%, 0 90%);
  //  clip-path: polygon(0 17%, 100% 0%, 100% 67%, 0 90%);

    &__main-box {
        -webkit-transform: skewY(5deg);
        transform: skewY(5deg);
        position: relative;
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        max-width:150rem;
        margin: 0 auto;
    }

    & > h1 {
        -webkit-transform: skewY(5deg);
        transform: skewY(5deg);
        font-family: $primary-heading-font;
    }
}