.hangout {
    height:60rem; 
    position: relative;
    margin-top: 4rem;

    &-heading {
        position: relative;
    }

    &__box {
        @include container-flex-center;

        &-left {
            flex:1;
            padding:4rem;

            &--image {
                height:100%;
                width:100%;
            }
        }

        &-right {
            flex:1;
            padding:10rem;
            

            &--heading {
                text-align: left;
                margin-bottom:2rem;
                font-family: $primary-heading-font;
            }

            &--text {
                font-size:2rem;
            }

            &--btn {
                color:red;
            }
        }
    }
}