.product {
    position:relative;
    height:100%;
    background-color: $primary-color;
    height:70rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    & > h1 {
        margin-bottom: 4rem;
    }

    &__browse {
        position: relative;
        text-align: center;
        font-size:2.5rem;
        font-weight: bold;
        color:$secondary-color;
        margin-top: 2rem;
        

        &-box--left {
            display: inline-block;
            margin: 0 2rem;
            &:hover {
                transform: scale(1.4);
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
                cursor: pointer;
            }
        }

        &-box--right {
            display: inline-block;
            margin: 0 2rem;
            &:hover {
                transform: scale(1.5);
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
                cursor: pointer;
            }

        }
        &-left, &-right {
            font-size: 2.5rem;
            margin: 0 2rem;
            cursor: pointer;

            &:hover {
                transform: scale(1.5);
                transition: all 0.3s;
            }
        }
    }

    &__card-box {
        position:relative;
        padding: 0 4rem;
        max-width:130rem;
        display:flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    &__card {
        position:relative;
        height:40rem;
        width:30rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(243, 234, 234);
        padding: 3em;
        text-align: center;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        background: white;

        &:hover {
            transform: scale(1.05) translateY(-0.5rem);
            transition: ease-out 0.3s;
        }

        &:not(:last-child) {
            margin-right:3rem;
        }

        &--headingbox {
            height:9rem;

            &-heading {
                color: $black-grayish-color;
                font-size: 3rem;
                font-family: $primary-heading-font;
               // line-height: 6rem;
                border-bottom: 1px solid rgb(186, 181, 181);
            }
        }

        &--pricebox {

            &-price {
                padding-top:1rem;
                font-size: 2rem;
                font-family: $primary-heading-font;
                
            }
        }

        &--imagebox {
            
            &-image {
                height:16rem;
                width:100%;
                background-size: cover;
            }           
        }

        &--buttonbox {

            &-button {
                margin-top:2rem;
            }
        }
    }
}