.primary-heading {
  font-size: 5rem;
  font-family: $primary-heading-font;
  text-align: center;
  font-weight: bold;
  color: $secondary-color;
  font-weight: bold;
  // add different font size, color, familiy
}

.secondary-heading {
  color: rgba(20, 19, 19, 0.755);
  font-size: 3rem;
  font-family: "Acme";
}

p {
  font-family: $primary-font;
  font-size: 2rem;
}
