.margin-top-small {
    margin-top:5rem;
}

.padding-top-small {
    padding-top:3rem;
}


.anything {
    font-weight: bold;
}

.free {
    text-transform: uppercase;
    font-weight: bold;
}

.latte {
    text-transform: uppercase;
    font-weight: bold;
}

.nav-shadow {
    box-shadow: 0 0.3rem 0.5rem rgba($black-color, .1);
}